# TODO: Seperate Work / Private ?
[user]
	name = Marcel Maier
	email = marcel.maier@lit-beratung.com

[core]
	editor = nvim

[pull]
	rebase = true
[alias]
	new = "!f() { git checkout -b \"$1\" && git push -u origin \"$1\"; }; f"
